@{
    ViewBag.Title = "Home Page";
}

<div class="row body-content">
    <div class="col-md-4 col-md-offset-4">
        <div class="search-box">

        </div>
        <div class="inner-addon right-inner-addon">
            <i class="glyphicon glyphicon-search"></i>
            <input type="search"
                   class="form-control poopoo"
                   placeholder="Search" />
        </div>
    </div>
</div>