@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-8"><strong>Thread</strong></th>
                    <th class="col-md-2"><strong>Owner</strong></th>
                    <th class="col-md-1"><strong>Replies</strong></th>
                    <th class="col-md-1"><strong>Views</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="~/Home/Chat/"> Sample Public Chat Board [Medium Fidelity Prototype]</a></td>
                    <td>Open</td>
                    <td>6,267</td>
                    <td>11,245</td>
                </tr>
                <tr>
                    <td>Would you rather be a software engineer at Microsoft or Google?</td>
                    <td>Closed</td>
                    <td>6,267</td>
                    <td>283,193</td>
                </tr>
                <tr>
                    <td>Motorola Moto X (2014) Review</td>
                    <td>Closed</td>
                    <td>1,852</td>
                    <td>37,352</td>
                </tr>
                <tr>
                    <td>Microsoft buying ‘Minecraft’</td>
                    <td>Closed</td>
                    <td>2,523</td>
                    <td>70,743</td>
                </tr>
                <tr>
                    <td>Why Canada won’t be exporting its water anywhere?</td>
                    <td>Closed</td>
                    <td>662</td>
                    <td>99,488</td>
                </tr>
                <tr>
                    <td>How much Youtuber earn a year?</td>
                    <td>Closed</td>
                    <td>11,122</td>
                    <td>122,522</td>
                </tr>
                <tr>
                    <td>What is your favorite 90’s song?</td>
                    <td>Closed</td>
                    <td>989</td>
                    <td>144,154</td>
                </tr>
                <tr>
                    <td>What is something you cannot believe people actually do?</td>
                    <td>Closed</td>
                    <td>1,756</td>
                    <td>22,565</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


