@model IEnumerable<ChatBoard.Models.Post>

@{
    ViewBag.Title = "Show All Posts";
}

<div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-8"><strong>Thread</strong></th>
                    <th class="col-md-2"><strong>Owner</strong></th>
                    <th class="col-md-1"><strong>Replies</strong></th>
                    <th class="col-md-1"><strong>Views</strong></th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.Title, "Details", new { id = item.Id })</td>
                            <td>@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</td>
                            <td>1,111</td>
                            <td>2,223</td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>