@model IEnumerable<ChatBoard.Models.Post>

@{
    ViewBag.Title = "Show All Posts";
}
<div class="container">
    <div class="table-responsive">
        <table class="table">
            <thead class="panel panel-default">
                <tr class="panel-heading">
                    <th class="col-md-8 thead"><i class="glyphicon glyphicon-file"></i> Thread</th>
                    <th class="col-md-2 text-center thead"><i class="glyphicon glyphicon-user"></i> Owner</th>
                    <th class="col-md-1 text-center thead"><i class="glyphicon glyphicon-heart"></i> Loves</th>
                    <th class="col-md-1 text-center thead"><i class="glyphicon glyphicon-eye-open"></i> Views</th>
                </tr>
            </thead>
            <tbody class="panel-body">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.Title, "Details", new { id = item.Id })</td>
                        <td class="text-center">@item.Owner</td>
                        <td class="text-center">@item.Loves</td>
                        <td class="text-center">@item.Views</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>