body {
    padding-top: 65px;
    padding-bottom: 20px;
    font-family:  "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.custom-container {
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}
/*HTML headings*/
h2 {
    font: 35px/50px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
}
h4 {
    font: 20px/50px "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    color: #333;
}

/*Login*/
.red-heart, .red-heart a {
    color: #E51400;
}

/*Home page style*/
.inner-addon {
    position: relative;
}

.right-inner-addon {
    margin-top: 30px;
    width: 100%;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.right-inner-addon .glyphicon {right: 0px;}
.main-search {
    max-width: 100%;
}

.search-box {
   background-image: url('logo.png');
   background-size: 100% 100%;
   width: auto;
   height: 120px;
}
.table-responsive {
    margin-top: 40px;
}
/*footer*/
footer {
    margin-top: 50px;
    text-align: center;
}

 /* Chat View CSS */
header {
padding-top: 10px;
}

.logo {
background: url('logo.png') no-repeat;
background-size: 150px 50px;
width: 150px;
height: 50px;
display: inline-block;
}

.action-dropdown {
display: inline-block;
text-align: center;
width: 100%;
color: black;
}

.discussion-body > * {
margin: 0 0 20px 0;
}

.topic-header {
height: 100px;
}

.topic-header > * {
margin: 5px 0;
}

.topic-header > .topic-title {
font-size: 1.2em;
}

.topic-header > .topic-title:before {
color: #58D3F7;
font-weight: bold;
content: "Topic: ";
}

.topic-header > .topic-tags > .glyphicon-tags:before {
margin-right: 10px;
}

.pinned-answers {
height: 30px;
font-size: 1.2em;
}

.chat-content {
overflow-x: hidden;
height: 300px;
}

.chat-message {
margin-top: 10px;
height: 50px;
}

.chat-message > .message {
margin-right: 130px;
}

.chat-message > .message > input {
float: left;
width: 100%;
height: 40px;
-ms-box-sizing: border-box;
-khtml-box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.chat-message > #sendmessage {
display: inline-block;
width: 120px;
float: right;
}

.rooms-listing {
list-style: none;
margin: 0;
padding: 0;
height: 300px;
overflow-x: hidden;
}

.rooms-listing > li {
margin: 5px 0;
white-space: nowrap;
text-overflow: ellipsis;
overflow-x: hidden;
width: 100%;
}

.rooms-listing > li.active {
color: #58D3F7;
font-weight: bold;
}

.users > .users-listing {
list-style: none;
margin: 0;
padding: 0;
overflow-x: hidden;
height: 300px;
}

.users > .users-listing > li {
margin: 5px 0;
white-space: nowrap;
text-overflow: ellipsis;
width: 100%;
}

ul
{
    list-style-type: none;
}


/*Login form*/
.margin-top-a-bit {
    margin-top: 30px;
}

.center-this-line {
    text-align: center;
}


/*Test View CSS*/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}