body {
    padding-top: 65px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

.custom-container {
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Home page style*/
.inner-addon {
    position: relative;
}

.right-inner-addon {
    margin-top: 30px;
    width: 100%;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}
.right-inner-addon .glyphicon {right: 0px;}
.poopoo {
    max-width: 100%;
}

.search-box {
   background-image: url('logo.png');
   background-size: 100% 100%;
   width: auto;
   height: 99px;
}
footer {
    margin-top: 50px;
    text-align: center;
}
